{% extends 'bootstrap.twig' %}

{% block body %}
    <div class="container center-align">
        <br>
        <br>
        <a class="waves-effect waves-light btn blue" href="/login">
            Login
        </a>
    </div>
{% endblock %}
