{% extends 'layouts/default_layout.twig' %}

{% block content %}
    <div class="container center-align">
        <br>
        <br>
        <a class="waves-effect waves-light btn blue" href="/login">
            Login
        </a>
    </div>
{% endblock %}
