{% extends 'layouts/minimal_layout.twig' %}

{% block content %}
    <div class="container center-align">
        <br>
        <br>
        <h1>403</h1>
        <h3>Permission denied!</h3>
    </div>
{% endblock %}
