{% extends 'layouts/minimal_layout.twig' %}

{% block content %}
    <div class="container center-align">
        <br>
        <br>
        <h1>404</h1>
        <h3>Page not found!</h3>
    </div>
{% endblock %}
